*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    overflow-x: hidden;
}

/* header */
.cabecalho {
    width: 100vw;
    height: 16vh;
    position: fixed;
    top: 0;
    color: #fff;
    padding: 20px;
    text-align: center;
    background: #333333;
    box-shadow: inset 5px 5px 10px #141414,
        inset -5px -5px 10px #525252;
}
.cabecalho .titulo {
    font-size: 20px;
    margin: 0;
}
.alinha{
    height: 25vh;
    width: 100vw;
}
/* formulários  */
.form-container {
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input[type="text"],
input[type="number"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    border-radius: 200px 200px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ccc;
    color: #333;
}

/* img */
.img-voltar {
    width: 4vw;
    height: auto;
    transition: 0.5s;
}


/* cli_cons2 informações de consulta  */

.informacao {
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #333;
    margin: 20px 0;
}

.informacao hr {
    border-top: 1px solid #333;
}

.informacao p {
    font-size: 18px;
    margin: 10px 0;
}