* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/back1.png);
  background-color: #6e6e6e;
}

h3 {
  color: #fff;
  width: 60vw;
  padding: 2vh;
  font-size: 40px;
  font-family: sans-serif;
}

img {
  border-radius: 50px;
  width: 35vw;
}

button {
  border-radius: 5px;
  background-color: #069cc2;
  padding: 5px;
  cursor: pointer;
  color: #fff;
  border: none;
  font-size: 10px;
  width: 10vw;
  height: 10vh;
  margin: 1vw;
  font-size: 20px;
}

footer {
  width: 100vw;
  margin-top: 5vw;
  color: #fff;
  padding: 20px;
  text-align: center;
  background: #333333;
  box-shadow: inset 5px 5px 10px #141414,
    inset -5px -5px 10px #525252;
}

.navbarra {
  background-color: #000;
  height: 5vw;
  width: 100vw;
  position: fixed;
  margin-top: -5vw;
}

.corpo {
  padding: 2vw;
  margin-top: 5vw;
  width: 60vw;
  border-radius: 50px;
  box-shadow: inset 5px 5px 10px #202020,
    inset -5px -5px 10px #7e7e7e;
}

.volta {
  width: 10vw;
  margin-bottom: 5vw;
  background-color: #ff848460
}

.corpo1 {
  padding: 2vw;
  margin-top: 5vw;
  width: 80vw;
  border-radius: 50px;
  box-shadow: inset 5px 5px 10px #202020,
    inset -5px -5px 10px #7e7e7e;
}

.card {
  background-image: url(../img/back1.png);
}

.card-body {
  flex: 0;
  background-image: url(../img/back1.png);
}

.b {
  
  background-image: url(../img/back1.png);
}